---
interface Props {
    url: string
}
---
<button>
    Download CV
</button>

<style>
    button {
        border: 2px solid var(--color-button);
        border-radius: 0.4rem;
        font-size: 1rem;
        color: var(--color-button);
        background: transparent;
        padding: 10px;
        transition: all ease-in-out 0.2s;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 5px;
        z-index: 10;
    }
    button:hover {
        background: var(--color-button);
        color: #fff;
    }
</style>