html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
  
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2f2f2f;
  }
  .bo {
    color: red;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  header {
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 40px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }

  #Markdown {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top; /* Alinea el elemento en la parte superior */
    margin-top: 41px;
    color: rgb(205, 200, 200);
  }
  
  #WikiIndex {
    display: inline-block;
    width: 150px;
    background-color: #1c1a1a;
    color: white;
    margin-top: 41px;
  }
  

  .nav-list a:hover {
    color: #ffd700;
  }
  @media (max-width: 768px) {
    .navbar {
        align-items: flex-start;
    }
  
    .nav-list {
        margin-top: 10px;
    }
  
    .nav-list li {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #WikiIndex {
      background-color: rgb(66, 66, 66);
      margin-top: 61px;
      width: 25%;
      margin-right: 0px;
      margin-left:  75%;
      height: auto;
      color: white;
    }
    #Markdown {
      color: white;
      background-color: #2f2f2f;
      margin-top: 61px;
      margin-left: 0px;
      width: 75%;
      height: auto;
    }
  }