---
interface Props {
    blog: string,
    title: string,
    author: string
}

const {blog, title, author} = Astro.props;
---

<a href={`/blogs/${blog}`}>
    <span class="blog transition-hover" > 
        <h3 class="blog-title font-jetbrains" >{title}</h3>
        <p class="blog-author font-jetbrains" >by {author}</p>
    </span>
</a>
<style>
    .blog {
        display: block;
        border: 2px solid var(--color-text);
        border-radius: 0.5rem;
        width: 15rem;
        height: 5rem;
        transition: all ease-in-out 0.2s;
    }
    .blog-title {
        text-align: center;
        padding: 0;
        margin-bottom: 5px;
        text-decoration: none;
        color: var(--color-text);
    }
    .blog-author {
        text-align: center;
        margin-top: 0;
        padding: 0;
        margin-bottom: 10px;
        text-decoration: none;
        color: var(--color-text);
    }
    .blog:hover {
        transform: scale(1.1);
        background-color: var(--color-button);
    }
</style>   