---
import "../global.css";

interface Props {
    name: string;
    description: string;
}
const { name, description } = Astro.props;
---
<section>
    <h3 id="about-me" >{name}</h3>
    <sub>{description}</sub>
</section>
<style>
    section {
        margin: 10% 15% 5%;
    }
    h3 {
        color: var(--color-detail);
        margin: 0;
        font-size: 3rem; 
    }
    sub {
        font-size: 1.3rem;
        color: var(--color-text);
    }
</style>
   
</section>
