---
import Presentation from "../components/Presentation.astro"

---

<section>
        <Presentation name='Your name' description='Short description, Full stack | Rust | Java' />
        <p>Long description, Lorem ipsum dolor sit amet consectetur
        adipiscing elit maecenas,facilisis enim ornare quam faucibus
        velit est, diam conubia interdum ultricies nullam
        convallis tellus. Suspendisse tincidunt ultrices vitae
        molestie malesuada praesent purus nibh porttitor 
        iaculis, proin magna aliquam at tempor cum ornare
        pretium rutrum risus cubilia, rhoncus vestibulum sem</p>
</section>
<style>
    p {
        color: var(--color-text);
        width: 80%;
        font-size: 105%;
        padding: 0;
        margin: 0 10%;
    }
</style>
