---
import { render } from "astro:content"
import Presentation from "../components/Presentation.astro"

import {Content as AboutMe} from "../data/about.me.md"
const profile = import.meta.glob("../data/profile.config.json", { eager: true })
let data
for (const path in profile) {
  data = profile[path];
}

---

<section>
        <Presentation name={data.name} description='Full stack | Rust | Java | Astro | Angular' />
        <div class="font-jetbrains" ><AboutMe /></div>
</section>
<style>
    div {
        color: var(--color-text);
        width: 80%;
        font-size: 105%;
        padding: 0;
        margin: 0 10%;
    }
</style>
