---
import Certification from "../components/Certification.astro";
import LinkedTitle from "../components/LinkedTitle.astro";
---

<section class="section" >
    <LinkedTitle id="certifications">Certifications</LinkedTitle>
    <section class="certifications-group" > 
        <Certification title="Java" academy="W3 Schools" certification="" />
        <Certification title="Java" academy="W3 Schools" certification="" />
        <Certification title="Java" academy="W3 Schools" certification="" />
        <Certification title="Java" academy="W3 Schools" certification="" />
    </section>
</section>

<style>
    .certifications-group {
        margin-left: auto;
        margin-right: auto;
    }
</style>