---
import Hability from "../components/Hability.astro";
import LinkedTitle from "../components/LinkedTitle.astro";

---
<section class="section" >
    <LinkedTitle id="habilities">Habilities</LinkedTitle>
    <Hability title="Java" value="100" />
</section>