---
import ProjectCard from "../components/projects/ProjectCard.astro"
import LinkedTitle from "../components/LinkedTitle.astro"
---

<section class="section" >
    <LinkedTitle id="projects" >Latest Projects</LinkedTitle>
    <section class="project-group" >
        <ProjectCard name="My latest project" description="A simple latest project" hrefSource="source" hrefView="view" image="" />   
        <ProjectCard name="My latest project" description="A simple latest project" hrefSource="source" hrefView="view" image="" />    
    </section>
    <LinkedTitle id="">Projects</LinkedTitle>
    <section class="project-group" >
        <ProjectCard name="My latest project" description="A simple latest project" hrefSource="source" hrefView="view" image="" />    
        <ProjectCard name="My latest project" description="A simple latest project" hrefSource="source" hrefView="view" image="" />    
    </section>
</section>

<style>
    .project-group {
        display: flex;
        justify-content: center;   
    }
    /* Dispositivos pequeños (móviles) */
@media (max-width: 600px) {
    .project-group {
        display: inline;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .project-group {
        display: inline;
    }
}

</style>