.dark {
    --color-background: #01161e;
    --color-text: #ffffff;
    --color-text-hover: #ffffff81;
    --svg-invert: 1;
}

.light {
    --color-background: #ffffff;
    --color-text: #000000;
    --color-text-hover: #838383;
    --svg-invert: 0;
}

:root {
    --color-title: #f08c00;
    --color-success: #20bf55;
    --color-detail: #e54b4b;
    --color-button: #1971c2;
}

.font-jetbrains {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.section {
    margin-top: 20rem;
}

.transition-hover {
    transition: all ease-in-out 0.3s;
}
.transition-hover:hover {
    transform: scale(1.05);
    background-color: var(--color-button);
}