dark {
    --color-background: #01161e;
    --color-text: #ffffff;
}

light {
    --color-background: #ffffff;
    --color-text: #000000;
}

:root {
    --color-title: #f08c00;
    --color-success: #20bf55;
    --color-detail: #e54b4b;
    --color-button: #1971c2;
}

p,h1,h2,h3,h4,h5,h6,sub {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}