---
import "../global.css"

interface Props {
	language: string,
	title: string
}

const {language, title} = Astro.props;
---

<!doctype html>
<html lang={language} class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="A kristian portfolio web" >
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		background-color: var(--color-background);
	}
</style>
